/*
  File: index.css
  Description: General stylings for the entire webpage.
  Author: Kendrick Tan
*/

/* Import tailwindcss */
@import "tailwindcss";

/* Import Open Sans font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Global Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
